body {
  background-color: rgba(12, 0, 12, 0.24);
  background-repeat: no-repeat;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size: cover;
  background-position: center;
}
.bg-custom {
  background-color: rgba(75, 3, 75, 0.555);
}

/*WIDTHS*/
.width-98 {
  width: 98%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.width-80 {
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.width-60 {
  width: 60%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.width-50 {
  width: 50%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.width-40 {
  width: 40%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.width-20 {
  width: 20%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* HEIGHTS */
.heigth-100 {
  height: 100%;
}
.vertical-center {
  margin-top: 20%;
  margin-bottom: 20%;
  justify-content: center;
}
.hidden-div {
  display: none;
}
.black-bordered-element {
  border: 3px solid #000000;
}

.black-transparent-element {
  background-color: rgba(2, 2, 2, 0.781);
}

/* ROUNDED CORNERS*/
.rounded-corners {
  border-radius: 15px;
}
.rounded-left-top {
  border-top-left-radius: 15px;
}
.rounded-left-bottom {
  border-bottom-left-radius: 15px;
}
.rounded-right-top {
  border-top-right-radius: 15px;
}
.rounded-right-bottom {
  border-bottom-right-radius: 15px;
}

.field-error {
  color: rgb(255, 255, 255);
  background-color: rgb(124, 5, 5);
  padding: 2px;
  border-radius: 30px;
  font-style: italic;
}
.padding-15 {
  padding: 15px;
}
.text-17 {
  font-size: 17px;
}
.text-50 {
  font-size: 50px;
}
.text-red {
  color: #200101e5;
}
.text-purple {
  color: #b301cae5;
}
.text-blue {
  color: #011675e5;
}
.text-green {
  color: #044e0ae5;
}
.hand-cursor {
  cursor: pointer;
}
.shadows {
  box-shadow: 5px 5px 5px #0000006b;
}
.text-22 {
  font-size: 22px;
}
.margin-top-25 {
  margin-top: 25%;
}

.application-form {
  border: 3px double rgb(100, 104, 99);
  border-radius: 15px;
  background-color: rgba(140, 145, 144, 0.253);
  padding: 5px;
}
/* NAVBAR */
nav {
  display: inline-block;
  text-align: right;
}
nav ul {
  list-style-type: none;
}
nav li {
  display: inline-block;
  margin-right: 15px;
}
nav a {
  font-size: 1.4em;
  color: rgb(190, 200, 188);
  padding-bottom: 3px;
  text-decoration: none;
  margin-right: 12px;
}
nav a:hover {
  color: aliceblue;
  text-decoration: none;
}
.sticky-element {
  position: fixed;
  z-index: 1;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
}

/*TABLES*/
table,
th,
td {
  border: 1px solid #000;
}
table {
  margin-top: 8%;
  width: 80%;
}
header {
  font-size: 30px;
  color: rgb(3, 3, 117);
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

/* COLORS */
.color-black {
  background: #000;
  color: #fff;
}

.aside-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(24, 1, 54, 0.8);
}
.active-tab {
  background-color: rgba(8, 2, 15, 0.8);
  color: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10%;
}
