body {
  background-color: rgba(3, 3, 3, 0.185);
  background-repeat: no-repeat;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size: cover;
  background-position: center;
}

.navbar-container{
  background: url('/img/backgrounds/background-image-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 1s;
}

/* NAVBAR */
nav {
  display: inline-block;
  text-align: right;
}

nav ul {
  list-style-type: none;
}
nav li {
  display: inline-block;
}
nav a {
  font-size: 1.4em;
  color: rgb(190, 200, 188);
  padding-bottom: 1px;
  text-decoration: none;
  margin-right: 12px;
}
nav a:hover {
  color: aliceblue;
  text-decoration: none;
}

.sticky-element {
  position: fixed;
  z-index: 1;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
}
.bg-custom {
  background-color: rgba(75, 3, 75, 0.555);
}

.bg-unscrolled{
  height: 100px;
}
.navbar-options{
  height: 100%;
}
.brand-logo-lg{
  width: 200px;
  height:100px;
}
.brand-logo-sm{
  width: 60px;
  height:30px;
}

/* INDEX OR HOMEPAGE*/
.homepage-container{
  margin-top: 200px;
}
.homepage-book{
  width: 550px;
  height: 400px;
  padding-left: 5%;
  background: rgba(75, 3, 75, 1);
  color: rgba(255,255,255,1);
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%,-50%);
  perspective: 1000px;
}
.homepage-book-cover{
  width: 480px;
  height: 100%;
  position: absolute;
  left: 40px;
  background-color: rgb(14, 3, 75);
  transform: rotateY(-20deg);
  transform-style: preserve-3d;
  transform-origin: left;
  transition: all .5s ease-in;
}
.homepage-book:hover .homepage-book-cover{
  transform: rotateY(-180deg);
}
figure{
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
figure.homepage-book-cover-front{
background:url('/img/logo/nezaLogo.png');
background-size: cover;
background-position: center;
}
figure.homepage-book-cover-back{
  background-color: rgb(52, 3, 71);
  transform: rotateY(180deg);
}
.homepage-book-cover-back-text{
}









/*WIDTHS*/
.width-100 {
  width: 100%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.width-98 {
  width: 98%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.width-80 {
  width: 80%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.width-60 {
  width: 60%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.width-50 {
  width: 50%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.width-40 {
  width: 40%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.width-20 {
  width: 20%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* HEIGHTS */
.heigth-100 {
  height: 100%;
}
.heigth-80 {
  height: 80%;
}
.vertical-center {
  margin-top: 20%;
  margin-bottom: 20%;
  justify-content: center;
}
.hidden-div {
  display: none;
}

/* bordered elements */
.black-bordered-element-3 {
  border: 3px solid #000000;
}
.white-bordered-element-3 {
  border: 3px solid #fff;
}
.black-bordered-element-1 {
  border: 1px solid #000000;
}
.white-bordered-element-1 {
  border: 1px solid #fff;
}

.black-transparent-element {
  background-color: rgba(2, 2, 2, 0.781);
}

/* ROUNDED CORNERS*/
.rounded-corners {
  border-radius: 15px;
}
.rounded-left-top {
  border-top-left-radius: 15px;
}
.rounded-left-bottom {
  border-bottom-left-radius: 15px;
}
.rounded-right-top {
  border-top-right-radius: 15px;
}
.rounded-right-bottom {
  border-bottom-right-radius: 15px;
}

/* SPECIAL FIELDS*/
.field-error {
  color: rgb(255, 255, 255);
  background-color: rgb(124, 5, 5);
  padding: 7px;
  border-radius: 30px;
  font-style: italic;
}
.field-success {
  color: rgb(255, 255, 255);
  background-color: rgb(13, 153, 36);
  padding: 7px;
  border-radius: 30px;
  font-style: italic;
}
.padding-15 {
  padding: 15px;
}

/* texts */
.text-10 {
  font-size: 10px;
}
.text-11 {
  font-size: 11px;
}
.text-13 {
  font-size: 13px;
}
.text-15 {
  font-size: 15px;
}
.text-17 {
  font-size: 17px;
}
.text-19 {
  font-size: 19px;
}
.text-22 {
  font-size: 22px;
}
.text-50 {
  font-size: 50px;
}
.text-red {
  color: #200101e5;
}
.text-purple {
  color: #b301cae5;
}
.text-blue {
  color: #011675e5;
}
.text-green {
  color: #044e0ae5;
}
.text-white {
  color: #fff;
}

.text-bold {
  font-weight: bolder;
}

.text-italic {
  font-style: italic;
}

.hand-cursor {
  cursor: pointer;
}
.shadows {
  box-shadow: 5px 5px 5px #0000006b;
}

.margin-top-25 {
  margin-top: 25%;
}

.application-form {
  border: 3px double rgb(100, 104, 99);
  border-radius: 15px;
  background-color: rgba(140, 145, 144, 0.253);
  padding: 5px;
}

/* COLORS */
.color-black {
  background: #000;
  color: #fff;
}
.color-white {
  background: #fff;
  color: #000;
}

.color-dark-purple {
  background-color: rgb(8, 2, 15);
  color: #fff;
}

.color-grey-transparent {
  background-color: rgba(168, 165, 165, 0.26);
}
.color-rigth-grey-transparent {
  background-color: rgba(168, 165, 165, 0.61);
}

/* POSITIONS */
.position-absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.position-absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.position-fixed-top-right {
  position: fixed;
  top: 5;
  right: 0;
}

.centered-div{
  margin: 10% auto;
}
/* SHOWING THE MANAGE APPLICATIONS PROFILE*/
.aside-bar {
  background: rgba(145, 128, 168, 0.8);
}
.active-tab {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 10%;
}

/* EMAIL EDITOR */
div#textEditor {
  margin-bottom: 10px;
  width: 750px;
  height: 300px;
}
div#theRibbon {
  border-bottom: none;
  padding: 10px;
  background-color: rgb(40, 110, 89);
  color: rgb(255, 255, 255);
  border-radius: 8px 8px 0px 0px;
}
div#richTextArea {
  border: 2px solid rgb(40, 110, 89);
  height: 100%;
  width: 100%;
}
div#richTextArea2 {
  border: 2px solid rgb(40, 110, 89);
  height: 100%;
  width: 100%;
}
iframe#emailMsgIframe {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
iframe#whyNezarecruitIframe {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
div#theRibbon > button {
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
div#theRibbon > button:hover {
  background-color: rgb(20, 90, 70);
  transition: all 0.3s linear 0s;
}
input[type="color"] {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}


/* Footbar*/
.foot-bar{
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  bottom: 0;
}